
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow public read/write to all collections.
    // This is insecure and should only be used for front-end-only demos.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
