
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read and write access to all files for now.
    // We will add more specific security rules later.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
